.footer-copyright {
  width: 185px;
  margin: 0 auto;
  // border: @border-black;
  position: relative;
}

.footer-copyright__title {
  font-family: @font-family;
  color:  #000000;
  font-size: 19.01px;
  font-weight: 700;
  line-height: 5.237px;
  text-align: left;
}

.footer-copyright__link {
  display: block;
}

.footer-copyright__htmlacademy {
  // width: 25px;
  // height: 40px;
  // fill: green;
  // position: absolute;
  // right: -3px;
  // top: -10px;
  // fill: #63d1bb;

    // width: 25px;
    // height: 32px;
    width: 38px;
    height: 35px;
    fill: green;
    position: absolute;
    // right: 2px;
    right: -3px;
    top: -8px;
    fill: #63d1bb;
}

.footer-copyright__htmlacademy:hover {
  fill: #46c1ae;
}

.footer-copyright__htmlacademy:active {
  fill: #bde3dd;
}
