.footer-social {
  width: 145px;
  // height: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.footer-social__link {
  display: flex;
  // border: @border-black;
  // margin-left: -3px;
  &:hover .footer-social__icon {
    fill: #46c1ae;
  }
  &:active .footer-social__icon {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.footer-social__icon {
  margin: auto;
}

// .footer-social__icon--instagram {
//   align-self: flex-end;
// }

// .footer-social__icon--twitter {
//   align-self: flex-end;
//   margin-right: 5px;
// }





@media (min-width: 768px) {
  .footer-social {
    // margin-left: 20px;
    // border: @border-black;
    width: 33%;
    // border: 1px solid black;
    padding-left: 40px;
    padding-right: 41px;
    box-sizing: border-box;
    margin: auto;
  }

  .footer-social--padding {
    margin-top: 5px;
  }


}









