.main-aboutus {
  padding-top: 6px;
  padding-left: 28px;
  padding-right: 28px;
}

.main-aboutus__title {
  color: #000000;
  font-family: @font-family;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 32px;
}

.main-advantages {
  // padding-top: 10px;
  // padding-right: 10px;
}

.main-advantages__pic {
  display: block;
  // margin-top: 10px;
  // margin-bottom: 17px;
  margin-left: 2px;
}

.main-advantages__title {
  color: #000000;
  font-family: @font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  padding-left: 2px;
}

.main-advantages__title--firstindent {
  margin-top: 16px;
  margin-bottom: 30px;
}

.main-advantages__title--secondindent {
  margin-top: 26px;
  margin-bottom: 35px;
}

.main-advantages__title--thirdindent {
  margin-top: 21px;
  margin-bottom: 32px;
}

.main-advantages__title--fourthindent {
  margin-top: 17px;
  margin-bottom: 33px;
}

.main-advantages__title--fifthindent {
  margin-top: 27px;
  margin-bottom: 31px;
}

.main-advantages__title--sixthindent {
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-advantages__pic--first {
  margin-left: 10px;
}

.main-advantages__pic--second {
  margin-left: 2px;
}

.main-advantages__pic--third{
  margin-left: 9px;
}

.main-advantages__pic--fourth {
  margin-left: 5px;
}

.main-advantages__pic--fifth{
  margin-left: -4px;
}

.main-advantages__pic--sixth {
  margin-left: 5px;
}




















