.main-contacts {
  padding-top: 21px;
}

.main-contacts__title {
  color: #000000;
  font-family: @font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 28px;
  margin-bottom: 27px;
}

.main-contacts__info {
  margin-bottom: 37px;
  width: 100%;
  border-collapse: collapse;
}

.main-contacts__item {
  width: 104px;
  text-align: center;
}

.main-contacts__desc {
  padding-right: 25px;
  padding-left: 3px;
}

.main-contacts__email,
.main-contacts__adress {
  vertical-align: top;
  color: #444444;
  font-family: @font-family;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.main-contacts__email {
  height: 60px;
}

.main-contacts__adress {
  padding-bottom: 10px;
}

.main-contacts__link {
  text-decoration: none;
  color: #444444;
  font-family: @font-family;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 84%;
    background-color: #63d1bb;
    margin-top: -2px;
  }
  &:hover {
    color: #46c1ae;
    &:after {
      background-color: #46c1ae;
    }
  }
  &:active {
    opacity: 0.3;
    &:after {
      opacity: 0.3;
    }
  }
}

.main-contacts__map {
  width: 320px;
  height: 457px;
  background-image: url('../img/icons/icon-map-pin.svg'), url('../img/map-mobile@1x.jpg');
  background-position: 50%;
  background-repeat: no-repeat, no-repeat;
}

// ------------tablet---------------------
@media (min-width: 768px) {

  .main-contacts {
    padding-top: 25px;
    background-image: url('../img/icons/icon-flag.svg');
    background-position: 92.5% 6%;
    background-repeat: no-repeat;
  }

  .main-contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 45px;
    margin-bottom: 49px;
  }

  .main-contacts__info {
    margin-top: 0;
    margin-left: 24px;
    margin-bottom: 46px;
  }

  .main-contacts__info tbody {
    display: flex;
  }

  .main-contacts__item {
    box-sizing: border-box;
    padding-left: 5px;
    width: 102px;
  }

  .main-contacts__email,
  .main-contacts__adress,
  .main-contacts__link {
    font-size: 17px;
    line-height: 30px;
  }

  .main-contacts__link:after {
    width: 98%;
    margin-top: -1px;
    background-color: #63d1bb;
  }

  .main-contacts__adress {
    padding-left: 25px;
  }

  .main-contacts__desc {
    padding-left: 3px;
    padding-right: 26px;
    width: 219px;
  }

  .main-contacts__map {
    width: 100%;
  }
  // вставить картинку
  .main-contacts__map {
    background-image: url('../img/icons/icon-map-pin.svg'), url('../img/map-mobile@1x.jpg');
    background-position: 50%;
    background-repeat: no-repeat, no-repeat;
  }

}

// ------------desctop---------------------
@media (min-width: 1150px) {

  .main-contacts {
    padding-top: 70px;
    padding-left: 177px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: 112px 131px;
  }

  .main-contacts__title {
    order: 1;
    font-size: 53px;
    line-height: 57px;
    padding-left: 43px;
    margin-top: 71px;
  }

  .main-contacts__info {
    order: 3;
    width: 38%;
    margin-top: -282px;
  }

  .main-contacts__info tbody {
    flex-direction: column;
  }

  .main-contacts__item {
    box-sizing: border-box;
    padding-left: 0;
    width: 102px;
    text-align: center;
  }

  .main-contacts__adress {
    padding-left: 0;
  }

  .main-contacts__desc {
    padding-left: 1px;
  }

  .main-contacts__map {
    width: 57%;
    order: 2;
  }

  // вставить картинку
  .main-contacts__map {
    background-image: url('../img/icons/icon-map-pin.svg'), url('../img/map-mobile@1x.jpg');
    background-position: 50%;
    background-repeat: no-repeat, no-repeat;
  }

}

