.page-header {
  height: 78px;
  width: 320px;
  position: relative;
  z-index: 999;
  // display: flex;
  // flex-direction: column;

}

.page-header__menu {
  height: 79px;
  // border-bottom: @border;
  position: relative;
  // display: flex;
  padding-top: 21px;
  box-sizing: border-box;
  // border: 1px solid black;
  // border-bottom: 1px solid black;
  // overflow: hidden;
  // padding-bottom: 20px;
}

.page-header__logo {
  width: 86px;
  height: 35px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

.page-header__hamburger {
  width: 80px;
  height: 99%;
  background-image: url('../img/icon-menu-open.svg');
  background-repeat: no-repeat;
  background-position: 29px 31px;
  position: absolute;
  top: 0;
  right: 0;
}

.page-header__state {
  display: none;
}

.page-header__state:checked ~ .page-nav {
  display: block;
}

// .page-header__menu-off {
//   background-image: url('../img/icon-menu-close.svg');
// }
// ----------------

// .page-header__state:checked .page-header__menu-on {
// background-image: url('../img/icon-menu-close.svg');
// }


.page-header__state:checked ~ .page-header__hamburger {
 background-image: url('../img/icon-menu-close.svg');
}




// ------медиа-------

@media (min-width: 768px) {
  .page-header {
    width: 768px;
    height: auto;
    margin: 0 auto;
    // border: @border-black;

  }

  .page-header__menu {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    // padding-bottom: 7px;
    box-sizing: content-box;
    height: 89px;
    border-bottom: @border;
  }

  .page-header__hamburger {
    display: none;
  }

  .page-header__logo {
    margin: 0;
    margin-left: 65px;
    margin-top: 25px;
    align-items: flex-start;
  }


}

@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
    height: auto;
    margin: 0 auto;
    // border: @border-black;

  }

  .page-header__menu {

  }

  .page-header__hamburger {
    display: none;
  }

  .page-header__logo {

  }

  // .page-header {
  //   order: 2;
  // }

  .page-header__link {
      order: 2;
  }

}

// @media (min-width: 1150px) {
//   width: 1150px;

// }











